.productSignleCard_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 47px;
}

.productSignleCard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.productSignleCard_title {
  font-size: 28px;
  letter-spacing: 3%;
  margin-bottom: 9px;
}

.productSingleCard_img_price_button {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.productSingleCard_price_button {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.productSingleCard_button {
  color: var(--text-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  text-align: center;
  vertical-align: middle;

  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  background-color: var(--color-green);
  
}

.productSingleCard_price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
}

.productSingleCard_price h2 {
  margin-bottom: 0;
}

.productSingleCard_price h3 {
  color: var(--text-grey);
  font-size: 28px;
  text-decoration: line-through;
}

.productSingleCard_img_container {


  border-radius: 12px;
  border: 1px solid var(--color-grey-divider);

  background-color: var(--text-white);
  overflow: hidden;
  position: relative;
 
}

.productSingleCard_img_container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.productSingleCard_sale_label {
    display: flex;
    justify-content: center;
    align-items: center;



    background-color: var(--color-sale);
    padding: 4px 8px;
    border-radius: 6px;
    position: absolute;

    top: 16px;
    right: 16px;



    width: 58px;
    height: 31px;

}

.productSingleCard_sale_label p {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 3%;
  color: var(--text-white);
}

.productSingleCard_description h3 {
  font-weight: 600;
  margin-bottom: 12px;
}



.productSingleCard_quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
 width: 200px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  background-color: var(--text-white);
  margin: 0 auto;

}

.productSingleCard_quantity button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 58px;
    width: 58px;
    font-size: 24px;
    background-color: var(--text-white);
    border: 1px solid lightgrey;
    border-radius: 6px;
  }

  .productSingleCard_quantity span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    padding: 0;
    
  }


/* ------------- */

.productCard_discont_price {
  color: var(--text-black);
font-weight: 700;
font-size: 40px;
line-height: 110%;

}

.productCard_price {


color: var(--text-grey);
font-weight: 500;
font-size: 28px;
line-height: 130%;
text-decoration: line-through;



}



/* ----------------- */

@media(min-width: 480px) {

.productSingleCard_img_price_button {

  flex-direction: row;
  align-items: flex-start;

}

.productSingleCard_img_container {
flex: 1 1 auto;
/* width: 210px;
height: 179px; */


}

.productSingleCard_price_button{
  flex: 0 0 210px;
  max-width: 210px;
  /* max-height: 179px; */

}

.productSingleCard_button{
  margin-top: 8px;
}

.productSingleCard_price{
  align-self: flex-start;
}

.productSingleCard_quantity{
   align-self: flex-start;

 align-self: stretch; 
 
}

.productCard_discont_price{
  font-size: 48px;
}



}


/* ------ */

@media(min-width: 768px) {

}

@media(min-width: 1000px) {

}

@media(min-width: 1440px) {

}