.likedProducts_container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;


}

.likedProducts_items {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.likedProducts_breadcrumbs {
    display: none;
    margin-top: 32px;
}

@media(min-width: 480px) {
    .likedProducts_items {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media(min-width: 768px) {
    .likedProducts_container {
        gap: 32px;
    }

    .likedProducts_breadcrumbs {
        display: block;
    }
}

@media(min-width: 1000px) {
    .likedProducts_container {
        margin-top: 40px;
    }

    .likedProducts_breadcrumbs {
        margin-top: 40px;

    }

}

@media(min-width: 1440px) {
    .likedProducts_items {
        gap: 32px;
    }



    .likedProducts_container {
        gap: 40px;
    }
}