* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero_container {
  background-image: url("./image/imgMobile.jpg");
  background-size: cover;
  width: 360px;
  height: 600px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 251px;
  align-items: flex-start;
  gap: 24px;
 }
.hero_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 52px; 
  text-align: left;
  color: #fff;
   }
.hero_link {
  display: inline-block;
  background-color: #92a134;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 52px;
  text-decoration: none;
  cursor: pointer;
  width: 199px;
  height: 47px;
}
@media (min-width: 480px) {
    .hero_container {
    background-image: url("./image/img480.jpg");
    width: 480px;
    padding: 50px 33px 215px 20px;
      }
  .hero_title {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .hero_container {
    background-image: url("./image/img768.jpg");
    width: 768px;
    padding: 60px 20px 326px;
    gap:40px
  }
  .hero_title {
    font-size: 68px;
  }
    .hero_link {
    width: 218px;
    height: 58px;
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .hero_container {
    background-image: url("./image/img1000.jpg");
    width: 1000px;
    height: 476px;
    padding: 60px 20px 120px;
    gap:40px
  }
  .hero_title {
    font-size: 90px;
  }
    .hero_link {
    width: 218px;
    height: 58px;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .hero_container {
    background-image: url("./image/imgLaptop.jpg");
    width: 1200px;
    height: 600px;
    padding: 80px 40px 210px;
    gap:40px
  }
  .hero_title {
    font-size: 96px;
  }
  .hero_link {
    width: 218px;
    height: 58px;
    font-size: 20px;
  }
}


