.categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 480px) {
  .categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .categories {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .categories {
    gap: 32px;
  }
}
