.productCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 164px;
  border: 1px solid lightgrey;
  border-radius: 6px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 58px;
    width: 58px;
    font-size: 24px;
    background-color: var(--text-white);
    border: 1px solid lightgrey;
    border-radius: 6px;
  }

  button:active {
    background-color: var(--color-grey-divider);
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .productCount {
    width: 200px;
  }
}
