.productCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-grey-divider);
  border-radius: 12px;
  overflow: hidden;

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
  }
}

.productCard_top {
  position: relative;
  border-bottom: 1px solid var(--color-grey-divider);
}

.productCard_bottom {
  padding: 12px 0 20px 20px;
}

.productCard_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.productCard_discont_price {
  font-size: 36px;
  font-weight: 600;
}

.productCard_price {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
  color: var(--text-grey);
}

.productCard_favorite {
  position: absolute;
  right: 20px;
  top: 20px;
}

.productCard_cart {
  position: absolute;
  right: 20px;
  top: 80px;
}
