.favoritesIcon {
  position: relative;
}
.countBage {
  position: absolute;
  min-width: 17.33px;
  height: 17.33px;
  top: 4.67px;
  left: 0;
  background-color: var(--color-green);
  color: var(--text-white);
  border-radius: 50%;

  font-weight: 600;
  font-size: 8px;
  line-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
