.categoriesPage {
 width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
   }

@media (min-width: 1000px) {
  .categoriesPage {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (min-width: 1400px) {
  .categoriesPage {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}



