.discount_container {
    padding: 24px 20px 0 20px;
    margin-left: 20px;
    margin-right: 20px;


    border-radius: 12px;
    background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);

    h2 {
        text-align: center;
        color: var(--text-white);
    }

}

.discount_content {
    display: flex;
    flex-direction: column;
}

.discount_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discount_inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    width: 100%;
    background-color: transparent;
    border-radius: 6px;
    padding: 12px 20px;
    border: 1px solid var(--color-white)
}

.discount_inputs input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* vertical-align: middle; */
    color: var(--text-white);
}


.discount_button {
    color: var(--text-black);
    background-color: var(--color-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    padding: 12px 20px;
    /* text-align: center; */
    /* vertical-align: middle; */
    border: none;
    border-radius: 6px;



}


.discount_img {
    position: relative;
    right: 20px;
    max-width: none;
}

@media(min-width: 480px) {
    .discount_img {
        right: 10px;
    }


}

@media(min-width: 768px) {
    h2 {
        margin-bottom: 24px;
    }

    .discount_img {
        right: 20px;
    }


    .discount_content {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
    }

    .discount_inputs {
        gap: 12px;
    }

    .discount_form {
        margin-bottom: 32px;
        max-width: 334px;
        width: 100%;

    }



    .discount_container {
        padding: 32px 20px 0 20px;
    }

}

@media(min-width: 1000px) {
    h2 {
        margin-bottom: 24px;
    }


}




@media(min-width: 1440px) {
    h2 {
        margin-bottom: 24px;
    }

    .discount_img {
        right: 0;
    }

    .discount_form {
        gap: 32px;
    }

    .discount_inputs {
        gap: 16px;
    }

    .discount_content {
        gap: 32px;
    }

    .discount_container {
        padding: 32px 32px 0 32px;
    }

}