.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fffff0;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
}

.icons_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
