.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  max-width: 360px;
  background-color: hsla(60, 100%, 97%, 1);
  padding: 20px;
  overflow: hidden;
}

.icons_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
