.saleSection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .saleSection {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1000px) {
  .saleSection {
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
}
