.saleSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: clamp(5px, 3vw, 20px);
}

@media (max-width: 480px) {
  .saleSection {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    gap: 5px;
  }
}
