.saleSection {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 0.5fr));
  gap: 1rem;
  /* display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  justify-content: center; */
}

/* @media screen and (min-width: 480px) {
  .saleSection {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1000px) {
  .saleSection {
    flex-direction: row;
  }
} */
