.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  /* margin: 40px 0; */
margin-top: 32px;
}

.line {
  height: 1px;
  width: 16px;
  background-color: #ccc;
}

.crumb {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


@media (min-width: 1000px) {
.breadcrumbs{
margin-top: 40px;
}

}

