.cart {
  width: 100%;
  padding: 20px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.emptyCart p {
  font-size: 1.2rem;
  color: #424436;
}
.emptyCart a {
  background-color: #92a134;
  padding: 16px 56px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
.cartProduct_remove {
   width: 24px;
  color: #424436;
  font-size: 1.2rem;
  cursor: pointer;
}
.cartProduct_remove:hover {
  font-size: 1.5rem;
}
